.text {
    margin: 16px;
    border-bottom: 1px dotted black;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
}

.tooltip {
    position: absolute;
    background-color: grey;
    color: white;
    border-radius: 4px;
    padding: 8px;
    bottom: -40px;
    left: 0;
    display: none;
}

.text:hover .tooltip {
    display: block;
}