.image-container {
    position: relative;
}

.image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.image-button {
    display: block;
    width: 200px;
    height: 50px;
    background-color: bisque;
    opacity: 0.5;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: calc(50% - 25px);
    left: calc(50% - 100px);
    text-align: center;
    line-height: 50px;
}

.image-button:hover {
    opacity: 1;
}