@import "breakpoints";

.navigation {
  background-color: #ff7f50;
  flex: 1 1;
}

.product-list {
  background-color: #006400;
  flex: 1 1;
}

.news {
  background-color: #0ff;
  flex: 1 1;
}

div {
  min-height: 200px;
  display: flex;

  & span {
    text-transform: lowercase;
    padding: 8px;
    border-radius: 4px;
    background-color: #faebd7;
    margin: auto;
  }
}

.products {
  @include for-medium {
    display: flex;
    flex: 2 1;
  }
}

.content {
  @include for-large {
    display: flex;
  }
}