* {
    font-size: 24px;
}

div {
    width: 420px;
    height: 140px;
    padding: 20px;
    margin: 50px 100px;
    border-bottom: 10px dashed burlywood;
    border-top: 10px solid firebrick;
    border-left: 20px dashed aqua;
    border-right: 20px solid chartreuse;
    background-color: bisque;
}
