* {
    box-sizing: border-box;
}

html {
    font-family: Verdana, sans-serif;
    color: #555;
    font-size: 16px;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    color: white;
    text-align: center;
    background-image: linear-gradient(60deg, red, orange);
}

.image {
    max-width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.footer {
    background-color: #e5e5e5;
    padding: 0.5em;
    text-align: center;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.navigation {
    padding: 0.5em;
}

.section {
    padding: 0.5em;
    font-size: 1.25em;
}

.news {
    padding: 0.5em;
}

.section ul {
    line-height: 1.75em;
}

.css-units {
    color: #8b0000;
    background-color: #e5e5e5;
    font-size: 1.125em;
    font-weight: 700;
}

.section__header {
    font-size: 5vw;
    text-align: center;
}

.navigation ul {
    list-style-type: none;
    padding: 0;
}

.nav-list-item {
    background-color: #808080;
    color: white;
    line-height: 2em;
    margin-bottom: 0.5em;
    display: flex;
}

.nav-list-link {
    padding: 0 0.5em;
    text-decoration: none;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen and (min-width: 600px) {
    .content {
        display: flex;
    }
    .navigation {
        width: 20%;
    }
}

@media screen and (min-width: 1200px) {
    .main {
        flex-direction: row;
    }
    .news {
        width: 20vw;
    }
    .section {
        width: 60vw;
    }
    .navigation {
        width: 20vw;
    }
}
